$margin: 10px;
$inputWidth: 200px;

.card-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .form-container {
    width: $inputWidth * 2;
  
    .todo-form {
      margin: $margin;
      white-space: nowrap; // 防止子元素换行
      text-align: center;
    
      .todo-input {
        width: $inputWidth; // 根据需要设置宽度
        margin-right: $margin;
      }
  
      .submit-button {
        width: $inputWidth / 3;
      }

      .list-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 200px;
        overflow: auto;

        div {
          overflow-x: hidden;

          .every-todo {
            span {
              display: flex;
              margin: $margin 0 $margin $margin;
              text-align: left;
              align-items: center;
              justify-content: space-between;

              h4 {
                margin: $margin/2 0;
              }

              .right-elements {
                display: flex;
                gap: 8px;
                align-items: center;

                .ant-radio-wrapper {
                  margin: 0;
                }
  
                .ant-btn {
                  border: none;
                  margin: 0;
                }
              }
            }
          }

          .ant-divider {
            margin: $margin 0;
          }
        }
      }
    }
  }
}
