$margin: 10px;
$inputWidth: 200px;

.card-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .form-container {
    width: $inputWidth * 2;
  
    .todo-form {
      margin: $margin;
      white-space: nowrap; // 防止子元素换行
      text-align: center;
    
      .todo-input {
        width: $inputWidth; // 根据需要设置宽度
        margin-right: $margin;
      }
  
      .submit-button {
        width: $inputWidth / 3;
      }

      .list-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 200px;
        overflow: auto;

        div {
          span {
            display: block;
            margin: $margin 0 $margin $margin;
            text-align: left;
          }

          .divider {
            margin: $margin 0;
          }
        }
      }
    }
  }
}
